body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  width: 40em;
  margin: 0 auto;
}

output {
  display: block;
  padding: .5rem;
  background: rgb(224, 224, 224);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: rgb(0, 96, 192);
}
